
#container{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(16,30px);
    grid-auto-rows:min-content;
    grid-auto-columns: min-content;
    border: 5px solid black;
    float:left;

}
#btn{
    background-color:aqua;
    text-align: center;
    font-size:18px;
    padding: 15px 20px;
    border-radius: 12px;
    color:black;
    cursor:pointer;
}

#btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

#actionbtn{
    display:flex;
    justify-content: left;
}